<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Magestic Hotel</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.scrollUp.js"></script>
 <script type="text/javascript" src="/js/demo.js"></script>
    
    
    </head>
    
<body>
    <header class="tm-header">
        <img class="tm-logo" src="/images/Majestic_Hotel_hd.png" alt="Majestic Hotel">
        <nav class="tm-nav">
       <div>
            <ul>
                <li class="tm-list"><a href="index.html">Home</a></li>
                <li class="tm-list"><a href="explore.html">Explore</a></li>
                <li class="tm-list"><a href="rooms.html">Activities</a></li>
                <li class="tm-list"><a href="bb.html">Booking</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>    
            </div>
        </nav>
    </header>
    
    
    <section class="tm-main">
           <p>Explore</p>
    </section>
    
    
    <section class="tm-expsection">
        
        <div class="tm-exp1">
            
        <p> Environment1</p>
     <img src="/images/explore1.jpg">
 
  </div>  
    </section>
    
    
       <section class="tm-expsection">
        
        <div class="tm-exp2">
            
        <p> Environment2</p>
     <img src="/images/explore2.jpg" >
 
  </div>  
    </section>
    
    
     <section class="tm-expsection">
        
        <div class="tm-exp1">
            
        <p> Environment3</p>
     <img src="/images/explore3.jpg">
 
  </div>  
    </section>
    
    
       <section class="tm-expsection">
        
        <div class="tm-exp2">
            
        <p>Environment4</p>
     <img src="/images/explore4.jpg" >
 
  </div>  
    </section>
    <section class="tm-makeres">
    <div class="tm-res">
       <div class="tm-resbutton">
           <a href="bb.html"> <p>Make Reservation</p></a>
        </div>
        </div>
    </section>
    
    
    
    <footer class="tm-footer">
        <div class="tm-us">
        <p class="bold">About Us</p>
            <p>Welcome to XJTLU Sports Center, <br>
                where you will harvest a <br>
                different journey.</p>
        </div>
       
        <div class="tm-address">
        <p class="bold">Address</p>
            <p>Suzhou,<br>
                XJTLU-SIP,<br>
                phone : (0512）8888888</p>
        </div>
        <br/>
    <div class="tm-media">
        <a href="#"> <img src="/images/fb.png"></a>
        <a href="#"> <img src="/images/G.png"> </a>
        <a href="#"> <img src="/images/twittr.png"> </a>
        <a href="#">  <img src="/images/insta.png"> </a>
        
        </div>
<!--        <a href="#">  <img class="tm-up" src="images/up.png"> </a>-->
    </footer>
    

    
    </body>
    
</html>