<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Magestic Hotel</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.scrollUp.js"></script>
 <script type="text/javascript" src="/js/demo.js"></script>
    
    </head>
    
<body>
    <header class="tm-header">
        <img class="tm-logo" src="/images/Majestic_Hotel_hd.png" alt="Majestic Hotel">
        <nav class="tm-nav">
       <div>
            <ul>
                <li class="tm-list"><a href="index.html">Home</a></li>
                <li class="tm-list"><a href="explore.html">Explore</a></li>
                <li class="tm-list"><a href="rooms.html">Activities</a></li>
                <li class="tm-list"><a href="bb.html">Booking</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>    
            </div>
        </nav>
    </header>
    
    
    <section class="tm-main">
           <p>Activities</p>
    </section>


    <section class="tm-roomsection">
        <div class="tm-room1">
            <div class="tm-trans">
                <div>
                    <p>场地</p>
                    <p>免费球鞋租赁</p>
                    <p>提供水和毛巾</p>
                </div>
                <div>
                    <p>仅需</p>
                    <p class="bold">￥ 1999.99</p>
                </div>
            </div>
            <img class="tm-roomimage" src="/images/Basketball.jpg">
            <p class="s">篮球</p>
        </div>
        <div class="tm-room1">
            <div class="tm-trans">
                <div>
                    <p>场地</p>
                    <p>专业场地布局</p>
                    <p>提供羽毛球拍</p>
                </div>
                <div>
                    <p>仅需</p>
                    <p class="bold">￥ 1599.99</p>
                </div>
            </div>
            <img class="tm-roomimage" src="/images/Badminton.jpg">
            <p>羽毛球</p>
        </div>
        <div class="tm-room1">
            <div class="tm-trans">
                <div>
                    <p>健身中心</p>
                    <p>多种健身器材可供选择</p>
                    <p>个人训练辅导</p>
                </div>
                <div>
                    <p>仅需</p>
                    <p class="bold">￥ 1299.99</p>
                </div>
            </div>
            <img class="tm-roomimage" src="/images/FitnessCenter.jpg">
            <p>健身中心</p>
        </div>
    </section>
    <br/>
    <section class="tm-roomsection">
        <div class="tm-room1">
            <div class="tm-trans">
                <div>
                    <p>乒乓球</p>
                    <p>提供乒乓球拍和球</p>
                    <p>免费饮料</p>
                </div>
                <div>
                    <p>仅需</p>
                    <p class="bold">￥ 999.99</p>
                </div>
            </div>
            <img class="tm-roomimage" src="/images/Golf.jpg">
            <p class="s">乒乓球</p>
        </div>
        <div class="tm-room1">
            <div class="tm-trans">
                <div>
                    <p>高尔夫</p>
                    <p>专业球场设计</p>
                    <p>提供球杆和球</p>
                </div>
                <div>
                    <p>仅需</p>
                    <p class="bold">￥ 599.99</p>
                </div>
            </div>
            <img class="tm-roomimage" src="/images/Golf.jpg">
            <p>高尔夫</p>
        </div>
        <div class="tm-room1">
            <div class="tm-trans">
                <div>
                    <p>台球</p>
                    <p>专业桌台设备</p>
                    <p>提供球杆和球</p>
                </div>
                <div>
                    <p>仅需</p>
                    <p class="bold">￥ 399.99</p>
                </div>
            </div>
            <img class="tm-roomimage" src="/images/Billiards.jpg">
            <p>台球</p>
        </div>
    </section>

    <br/>
    
    
    
     <section class="tm-makeres">
    <div class="tm-res">
       <div class="tm-resbutton">
           <a href="bb.html"> <p>Make Reservation</p></a>
        </div>
        </div>
    </section>
    
    
    
    <footer class="tm-footer">
        <div class="tm-us">
        <p class="bold">About Us</p>
            <p>Welcome to XJTLU Sports Center, <br>
                where you will harvest a <br>
                different journey.</p>
        </div>
       
        <div class="tm-address">
        <p class="bold">Address</p>
        <p>Suzhou,<br>
            XJTLU-SIP,<br>
            phone : (0512）8888888</p>
        </div>
        <br/>
    <div class="tm-media">
        <a href="#"> <img src="/images/fb.png"></a>
        <a href="#"> <img src="/images/G.png"> </a>
        <a href="#"> <img src="/images/twittr.png"> </a>
        <a href="#">  <img src="/images/insta.png"> </a>
        
        </div>
<!--        <a href="#">  <img class="tm-up" src="images/up.png"> </a>-->
    </footer>
    

    
    </body>
    
</html>
    